@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600');
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #EEEFF7;
}
p {
  font-weight: 400;
  color: #26393D;
}
h1 {
  font-weight: 600;
  font-size: 48px;
  color: #26393D;
}
h2, h3, h4 {
    color: #26393D;
}

/* ----------------------------------------
Grid Systems
------------------------------------------- */
.col-1-2 {
  flex-basis: 50%;
}
.col-1-3 {
  flex-basis: 32%;
}
.col-1-4 {
  flex-basis: 23%;
}
.col-2-3 {
  flex-basis: 62%;
}
.sp-col-1-2 {
  flex-basis: 47%;
}
.col-1-2-sp {
  flex-basis: 45%;
}


/* IF using no space between label col as full-col-1-2 */


/* ----------------------------------------
Buttons
------------------------------------------- */
#read-more-problem {
  border: 2px solid #40627C;
  margin-top: 70px;
  color: #40627C;
  text-transform: uppercase;
  font-weight: bold;
}
#read-more-problem:hover {
  background-color: #92CDCF;
  color: white;
  border: 2px solid #92CDCF;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
#read-more-solution {
  border: 2px solid #40627C;
  margin-top: 70px;
  color: #40627C;
  text-transform: uppercase;
  font-weight: bold;
}
#read-more-solution:hover {
  background-color: #92CDCF;
  color: white;
  border: 2px solid #92CDCF;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
#read-more-about {
  border: 2px solid #40627C;
  margin-top: 70px;
  color: #40627C;
  text-transform: uppercase;
  font-weight: bold;
}
#read-more-about:hover {
  background-color: #92CDCF;
  color: white;
  border: 2px solid #92CDCF;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.form-header {
  text-align: center;
}
/* ----------------------------------------
Nav
------------------------------------------- */
nav li {
  display: inline-block;
  flex-wrap: wrap;
  margin: 8px;
}
nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #EEEFF7;
}
nav li a:hover {
  color: #FFFC00;
}
.buy-now-button {
  border: 2px solid #fffc00;
  padding: 5px 20px 5px 20px;
  margin-right: 50px;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fffc00;
  font-weight: bold;
  background-color: #40627C;
}
.buy-now-button:hover {
  color: #40627C;
  background-color: #fffc00;
  cursor: pointer;
}
.home-anchor {
  float: left;
}
.home-anchor img {
  height: 60px;
  width: 270px;
}
img {
  display: block;
  margin: 0 auto;
}
nav ul {
  text-align: right;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #40627C;
  padding: 0;
}
.nav-anchor {
  margin-top: 30px;
}
/* ----------------------------------------
Header
------------------------------------------- */
#home-header {
  background-image: url('../img/colorful-water.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding: 180px;
}
header h1 {
  color: #F2F2F2;
  margin-right: 650px;
  font-size: 56px;
}
/* ----------------------------------------
Home - Problem
------------------------------------------- */
.home-problem-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.home-problem-text {
  padding: 50px;
  text-align: left;
}
/* ----------------------------------------
Home - Stats
------------------------------------------- */
.home-stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 100px 80px 100px;
  text-align: center;
}
/* ----------------------------------------
Home - Solution
------------------------------------------- */
.home-solution-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.home-solution-text {
  padding: 50px;
  text-align:  left;
}

/* ----------------------------------------
Home - Description
------------------------------------------- */
.home-description-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.home-description-text {
  padding: 50px;
  text-align: left;
}


/* ----------------------------------------
Home - Newsletter
------------------------------------------- */
.home-faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 120px 120px 30px 120px;
  background-image: url('../img/blue-water.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
}
.faq-wrapper {
  height: 550px;
  width: 750px;
  border: 5px solid #40627C;
  font: 26px;
  overflow: auto;
  padding: 15px;
  text-align: center;
  background-color: #EEEFF7;
}
/* ----------------------------------------
Home - Newsletter
------------------------------------------- */
.newsletter {
  padding: 250px;
  text-align: center;
}
.submit {
  background-color: #92CDCF;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding: 5px 250px 5px 250px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
}
.submit:hover {
  color: #92CDCF;
  background-color: white;
  border: 2px solid #92CDCF;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding: 5px 250px 5px 250px;
  transition: 0.25s;
  cursor:pointer;
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
  text-align: center;
  background-color: #40627C;
  padding: 10px;
}
footer p {
  margin-bottom: 0;
  color: #EEEFF7;
}
footer a {
  color: #EEEFF7;
  text-decoration: none;
}
footer a:hover {
  color: #FFFC00;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.footer-right {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.social-media li {
  display: inline-block;
  color: #fffc00;
  font-size: 28px;
  margin: 8px;
  text-align: left;
}
.social-media li:hover {
  color: #EEEFF7;
  cursor: pointer;
}
#copyright {
  font-size: 13px;
  font-weight: lighter;
}
#my-site {
  font-size: 13px;
  font-weight: lighter;
}
.phone {
  font-size: 48px;
  margin-bottom: 60px;
}
.footer-left {
  padding-left: 20px;
}

/* ----------------------------------------
Problem - Header
------------------------------------------- */
#problem-header {
  background-image: url('../img/colorful-water.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  padding: 170px;
}
.problem-header h1 {
  color: #F2F2F2;
  margin-right: 650px;
}


/* ----------------------------------------
Problem - Main
------------------------------------------- */
.problem-main-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.problem-main-text {
  padding: 50px;
  text-align: left;
}

/* ----------------------------------------
Problem - Description
------------------------------------------- */
.problem-description-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.problem-description-text {
  padding: 50px;
  text-align: left;
}

/* ----------------------------------------
Problem - Stats
------------------------------------------- */
.problem-stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 100px 0 100px;
  text-align: center;
}
.problem-newsletter {
  padding: 150px 250px 250px 250px;
  text-align: center;
}
.problem-stats-wrapper-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 100px 80px 100px;
  text-align: center;
}
/* ----------------------------------------
Solution - Header
------------------------------------------- */
#solution-header {
  background-image: url('../img/colorful-water.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding: 200px;
}
.solution-header h1 {
  color: #F2F2F2;
  margin-right: 650px;
}

/* ----------------------------------------
Solution - Main
------------------------------------------- */
.solution-main-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.solution-main-text {
  padding: 50px;
  text-align: left;
}
/* ----------------------------------------
Solution - Stats
------------------------------------------- */
.solution-stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 250px 0px 250px;
  text-align: center;
}
/* ----------------------------------------
Solution - Description
------------------------------------------- */
.solution-description-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.solution-description-text {
  padding: 50px;
  text-align: left;
}

/* ----------------------------------------
Solution - Impact
------------------------------------------- */
.solution-impact-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.solution-impact-text {
  padding: 50px;
  text-align: left;
}
.solution-newsletter {
  padding: 150px 250px 250px 250px;
  text-align: center;
}

/* ----------------------------------------
About - Main
------------------------------------------- */
/* .about-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 150px;
}
.about-main-text {
  padding: 50px;
  text-align: left;
} */
/* ----------------------------------------
About  - Commitment
------------------------------------------- */
.about-commitment-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}
.about-commitment-text {
  padding: 50px;
  text-align: left;
}
.about-aside-text {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 60px;
}

/* ----------------------------------------
About  - Principles
------------------------------------------- */
.about-principles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 150px 100px 150px;
}
.about-principles h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}
.about-principles p {
  text-align: center;
}
.about-principles {
  padding-top: 50px;
}
.about-newsletter {
  padding: 150px 250px 150px 250px;
  text-align: center;
}
/* ----------------------------------------
About - Team
------------------------------------------- */
.about-team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.about-team h1 {
  text-align: center;
}
.about-team p {
  text-align: center;
}
/* ----------------------------------------
News - Items
------------------------------------------- */
.news-main-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}
.news-newsletter {
  padding: 100px 250px 100px 250px;
  text-align: center;
}

#news-header h1 {
  text-align: center;
  margin-right: 0;
}
.news-main h1 a {
  color: #40627C;
  cursor: pointer;
}
.news-main h1 a:hover {
  color: #92CDCF;
}
#news-header {
  background-image: url('../img/colorful-water.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding: 200px;
}

/* ----------------------------------------
Contact - Form
------------------------------------------- */
#contact-header {
  background-image: url('../img/colorful-water.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding: 200px;
}
#contact-header h1 {
  margin-right: 0;
  text-align: center;
}
.contact-main {
  padding: 100px 150px 100px 150px;
}
.contact-main h1 {
  text-align: center;
}
.contact-main h2 {
  text-align: center;
}
form {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
  padding: 50px;
  width: 100%;
  margin: 0 auto;
}
input {
 display: block;
 font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 padding: 8px 25.5px;
 text-align: center;
 margin-bottom: 25px;
 width: 100%;
 font-size: 18px;
 border: 2px solid #92CDCF;
}
textarea {
 display: block;
 font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 padding: 50px 25.5px;
 text-align: center;
 margin-bottom: 10px;
 width: 100%;
 font-size: 18px;
 border: 2px solid #92CDCF;
}
.form-button {
 background-color: #92CDCF;
 color: white;
 font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 padding: 5px 250px 5px 250px;
 text-align: center;
 margin-top: 10px;
 width: 100%;
 font-size: 18px;
}
.form-button:hover {
 color: #92CDCF;
 background-color: white;
 border: 2px solid #92CDCF;
 font-family: 'Poppins', sans-serif;
 text-transform: uppercase;
 padding: 5px 250px 5px 250px;
 transition: 0.25s;
 cursor:pointer;
}
